/* banner section  */
.bannerImg {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* nav bar section  */
.nav-link {
  color: white !important;
}

.navbar {
  display: block !important;
}

/* login section ' */
.LoginHeight {
  height: 600px;
}

.loginBackground {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: url(../public/images/bann.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.custom-hr {
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
}
