/* banner section  */
.bannerImg {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* nav bar section  */
.nav-link {
  /* color: white !important; */
  color: black;
  font-weight: bolder;
}
.nav-link:hover {
  /* color: white !important; */
  color: rgb(255, 255, 255);
  background-color: #ee580f;
  border-radius: 20px;
}
.navbar {
  display: block !important;
}

/* login section ' */
.LoginHeight {
  height: 600px;
}

.loginBackground {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: url(../public/images/bann.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.custom-hr {
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
}

.navbar-profile-img-btn-dropdown {
  background: none !important;
  border: none !important;
  padding: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-profile-img-btn-dropdown:after {
  display: none !important;
}

.navbar-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
}

/* seats */
.seats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.seat-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  flex-direction: column;
}

input[type="checkbox"] {
  margin-left: 8px;
}

/* user edit profile  */

.nav-sidebar {
  /*      height: 40vh;*/
}

a:link {
  text-decoration: none;
}
.tab-content {
  padding: 20px;
}
/* . element.style {
} */
.collapse:not(.show) {
  /* display: none; */
}
.collapse:not(.show) {
  /* display: none; */
}
.collapse:not(.show) {
  /* display: none; */
}
.navbar-collapse {
  background-color: #f8f9fa;
}

/* all btn design  */
/* added css button by mir */
.btnDesign {
  background: #ee580f;
  color: #fff;
  float: left;
  font-size: 15px;
  font-weight: 400;
  /* border: solid #ee580f 1px; */
  padding: 10px 77px;
  /* margin: 57px 0px 0px 25px; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
}
.btnDesign:hover {
  background: #ee590ff1;
  /* border: solid #ee590ff1 1px; */
  /* cursor: pointer; */
}

.nav-link:focus,
.nav-link:hover {
  background: none;
}

element.style {
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--bs-navbar-active-color);
  /* border-bottom: 1px solid; */
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--bs-navbar-active-color);
}

/* -------end added----------- */

/* animation for train booking page  */

.train-animation {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.train {
  position: absolute;
  bottom: 0;
  left: -300px;
  animation: moveTrain 5s linear infinite;
}

@keyframes moveTrain {
  0% {
    left: -300px;
  }
  100% {
    left: calc(100% + 5px);
  }
}

.BookTrainTicketSection {
  background-image: url("../public/images/bann.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
/* 
.nav-sidebar {
  margin-top: 14px !important;
} */
/* user profile  */
.circleStyle {
  width: 250px !important;
  height: 250px !important;
  object-fit: cover;
  border-radius: 50%;
}
.circleStyles {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
  border-radius: 50%;
}

.galery-box > img {
  border-radius: 15px;
}
.size {
  font-size: 10px;
}

/* ....................  */
/* list training  */

.trainListBtn {
  background: #ee580f;
  padding: 8px 30px;
  border-radius: 25px;
  color: white;
}

.textColor_design {
  color: #ee580f;
}

.trainListBtn:hover {
  background: #e26526;
}
